
.single{
    display: flex;
    
}
.singleContainer{
    flex: 6;
}
.singleTop{
padding: 20px;

gap: 20px;
}
.singleLeft{
    flex: 1;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    position: relative;
    margin-bottom: 20px;
}
.singleRight{
    flex: 2;
}
.singleItem{
display:flex ;
gap: 20px;
}
.itemImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;


}
.editButton{
    position: absolute;
    top: 0;
    right: 0;
    padding:5px ;
    font-size: 12px;
    color:#555;
    background-color: #fcd5a7;
    cursor: pointer;
    border-radius: 0px 0px 0px 5px;
}

    .itemTitle{
        margin-bottom: 10px;
        color: #555;
    }
    .detailItem{
        margin-bottom: 10px;
        font-size: 14px;
        
    }
    .itemKey{
        font-weight: bold;
        color: gray;
        margin-right: 5px;
    }
    .itemValue{
        font-weight: 300;
    }
    .titleSingle{
        font-size: 16px;
        color: #f9ae53;
        margin-bottom: 20px;
        font-weight: bold;
    }