

.containerForm{
    font-family: 'poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  
    
    }
    .containerForm::before{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        
    }
    .containerContact{
        position: relative;
        min-width: 1100px;
        min-height: 550px;
        display: flex;
        z-index: 10;
    
    }
    .contactinfo{
        position: absolute;
        top: 40px;
        width: 350px;
        height:calc(100% - 80px);
        background: #e76f51;
        z-index: 1;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0 20px 20px rgba(0,0,0,0.2);
        border-radius: 20px;
    
    }
    .contactinfo h2{
        color: #fff;
        font-size: 24px;
        font-weight: 500;
    
    }
    .contactinfo .info{
        position: relative;
        margin: 20px 0;
    }
    .contactinfo .info li{
        position: relative;
       list-style: none;
       display: flex;
       margin: 20px 0;
       cursor:pointer;
       align-items: flex-start;
    
    } 
    .contactinfo .info li span:nth-child(1){
        width: 30px;
        min-width: 30px;
    } 
    .contactinfo .info li span:nth-child(1) .icon{
        max-width: 100%;
        filter: invert(1);
        opacity: 0.5;
    }
    .contactinfo .info li span:nth-child(2){
        color: #fff;
        margin-left:10px ;
        font-weight: 300;
        opacity: 0.5;
    } 
    .contactinfo .info li:hover span:nth-child(1) .icon,
    .contactinfo .info li:hover span:nth-child(2){
        opacity: 1;
    }
    .contactinfo .sci{
        position: relative;
        display: flex;
    }
    .contactinfo .sci li{
        list-style: none;
        margin-right: 15px;
    }
    .contactinfo .sci li .iconSocial{
        filter:invert(1);
        opacity: 0.5;
    }
    .contactinfo .sci li:hover .iconSocial{
        opacity: 1;
    }
    .contactform{
        position: absolute;
        padding: 70px 50px;
        background:#fff ;
        margin-left:150px ;
        padding-left:250px;
        width: calc(100% - 150px);
        height: 100%;
       
        box-shadow: 12px 7px 30px rgba(0,0,0,0.5);
        
        border-radius: 20px;
        border: 1px solid #e76f51;
    }
    .contactform h2{
        color:#0f3959;
        font-size:24px;
        font-weight:500;
    
    }
    .contactform .formBox{
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 30px;
    }
    .contactform .formBox .inputBox{
        position: relative;
        margin: 0 0 35px 0;
    }
    .contactform .formBox .inputBox.w50{
        width:47%;
    }
    .contactform .formBox .inputBox.w100{
        width:100%;
    }
    .contactform .formBox .inputBox input,
    .contactform .formBox .inputBox textarea{
      width: 100%;
      padding: 5px 0;
    
      font-size: 18px;
      font-weight: 300;
      color: #333;
      border:none;
      border-bottom:1px solid #777;
      outline: none;
    }
    
    .contactform .formBox .inputBox textarea{
        min-height: 120px;
    }
    .contactform .formBox .inputBox span{
        position: absolute;
        left:0;
        font-size: 18px;
        font-weight: 300;
        color: #333;
        transition: 0.3s;
        pointer-events: none;
    }
    .contactform .formBox .inputBox input:focus ~ span,
    .contactform .formBox .inputBox textarea:focus ~ span,
    
    .contactform .formBox .inputBox input:valid ~ span,
    .contactform .formBox .inputBox textarea:valid ~ span
    {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #f4a261;
    
    }
    .contactform .formBox .inputBox input[type="submit"]{
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    background: #e76f51;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
    
    }
    .alert-container {
        position: fixed;
        top: 20px;
        right: 20px;
        transition: transform 0.3s ease-in-out;
        transform: translateX(0);
    }
    
    .slide-in {
        transform: translateX(0);
    }
    
    .slide-out {
        transform: translateX(100%);
    }
    
    
    
    @media screen and (max-width: 768px) {
        .containerContact {
          
          flex-direction: column;
          min-width: 100%;
          min-height: auto;
          margin: 50px;
        }
      
        .contactinfo {
          position: static;
          width: 100%;
          height: auto;
        }
      
        .contactform {
          position: static;
          width: 100%;
          margin-left: 0;
          padding-left: 0;
        }
      }
      
      @media screen and (max-width: 600px) {
        .contactform .formBox .inputBox.w50 {
          width: 100%;
        }
      }