
.containerProfile{
   
    height: auto;
    margin: 40px auto 0;
    width:90%;
    display: block;
    padding: 20px;
    
    border-radius: 10px;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}
.ui-w-80 {
    width : 80px ;
    height: auto;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background  : rgba(0, 0, 0, 0);
    color       : #4E5155;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #e76f51;
    background  : transparent;
    color       : #e76f51;
width: fit-content;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important ;
}



.card {
    background-clip: padding-box;
    box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold;
    background-color: #e76f51;
    border-color: none;
}


.list-group-item.active {
    border-color: transparent;
}
.account-settings-multiselect~.select2-container {
    width: 100% ;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) ;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 ;
}

.material-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) ;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 ;
}

.dark-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03);
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff ;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 ;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) ;
}
.button-container{
    display: flex;
    justify-content: flex-end;
}
.button-spacing {
    margin-right: 8px;
  }
  .upload{
    margin-top: 10px;
  }
  .editable-field {
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }
  
  .editable-field .edit-icon {
    margin-left: 10px; 
    cursor: pointer;
  }
  
.btn-primary {
    background-color: #ff6f00;
    border-color: #ff6f00;
    
}


.btn-primary:hover {
    background-color: #e65a00; 
    border-color: #e65a00;
}


.btn-default {
    background-color: #f0f0f0; 
    color: #333; 
    border-color: #ddd; 
    
}

.btn-default:hover {
    background-color: #e0e0e0;
    color: #111;
}
.btn-outline-primary:hover {
    background-color: #ff6f00; 
    color: #fff;
    border-color: #ff6f00; 
}

.form-label{
font-weight: bold;
}