.leftside,.rightside{
    height:50vh;
    width:100%;
}
@media screen and (min-width:768px){.leftside,.rightside{height:100vh;}}
.rightside{
    /* background:linear-gradient(to right, #FFEBD9, #FF9773); */
    background: linear-gradient( #FFBE3D, #F06543);
    flex-direction: column;
    justify-content: center;
    padding: 100px
}

.leftside{ 
    background:linear-gradient(to right, #FF845F,  #FFE0CC);
    flex-direction: column;
    justify-content: center;
    padding: 100px
}     
.row [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
.btnleft  
 {
    text-decoration: none;
    padding: 1rem 2rem;
    background-color: white ;
    outline: none;
    border: none;
    border-radius: 3rem;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    color: #FF8C00 ;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnleft svg {
    margin-left: 0.15rem;
    font-size: 1.25rem;
}
.btnright { 
    text-decoration: none;
    padding: 1rem 2rem;
    background-color:white ;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    color: #FF8C00;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}   
.btnright svg {
    margin-left: 1.25rem;
    font-size: 1.5rem;
}   
/* SplitScreen.css */
  
  .sell-heading {
    /* Styles for the big "SELL" heading */
    font-size: 3rem; /* Adjust the font size as needed */
    font-weight: bold;
    margin-bottom: 10px; /* Add margin to separate heading and sentence */
    justify-content: center;
    padding-bottom: 30;
  }

  .sell-sentence {
    /* Styles for the sentence below the heading */
    font-size: 1rem; /* Adjust the font size as needed */
    color: #555; /* Adjust the color as needed */
    margin-bottom: 20px; /* Add margin for spacing */
    padding-bottom: 30;
  }
.sell-heading{
    font-size: 90px;
    color:  #001f3f;
    margin-bottom: 20px;
    font-family: 'Garamond', 'Times New Roman', Times, serif;
}
.buy-heading{
    font-size: 90px;
    color:  #001f3f;
    margin-bottom: 20px;
    font-family: 'Garamond', 'Times New Roman', Times, serif;
}
.texts{
    font-size: 20px;
    padding-bottom: 13px;
    margin-bottom: 20px;
    color:  #001f3f;
    font-family: 'Garamond', 'Times New Roman', Times, serif;
}

.right-image {
    position: absolute;
    transform: translate(-50%, -50%);
    top:78%;
    left:90%;
    max-width: 100%; /* Set the maximum width to 100% of its container */
    height: auto; /* Maintain the aspect ratio */
    max-height: 300px; /* Set the maximum height if needed */
  }

  .left-image {
    position: absolute;
    transform: translate(-50%, -50%);
    top:78%;
    left:40%;
    width:20%;  
    max-width: 100%; /* Set the maximum width to 100% of its container */
    height: auto; /* Maintain the aspect ratio */
    max-height: 300px; /* Set the maximum height if needed */
  }