.footer {

  width: 100%;
  background-color: #f3efee; 
  
  padding: 10px;
  height: auto; /* or 'auto' if you want the height to adjust based on content */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  box-shadow: 6px 6px 8px 7px rgba(0, 0, 0, 0.2);
   margin-top: auto;
  
  position: sticky;

}
 
  
  .footer-left {
    text-align: center;
    margin-left:10px ;
  }
  
  .footer-center {

    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0px;

  }
  
  .footer-right {
    text-align: right;
    margin-right: 10px;

  }
  
  .iconsFooter {
    display: flex;
    gap: 10px;
    justify-content: flex-end; 
  }
  
 

  


hr {
    margin: 0;
    margin-bottom: 5px; 
    border-top: 2px solid #000; 
  }




.footer h3 {
    font: normal 23px 'cookie', cursive;
}

.footer-website-name {
    font-size: 12px;
}




.footer-center .fa-envelope {
    font-size: 17px;
    margin-right: 5px; 
}

.footer-center p {
    
    font-size: 14px;
   
}
.footer-center .fa-location-dot,
.footer-center .fa-envelope,
.footer-center .fa-phone {
    font-size: 16px;
}
.footer-right .fa-square-facebook,
.footer-right .fa-instagram,
.footer-right .fa-linkedin {
    font-size: 16px;
}