.MainDash{
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
  
.widgets {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap; /* This will allow cards to wrap to the next line on smaller screens */
}

@media screen and (max-width: 1200px) {
    .MainDash{
        justify-content:flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px)
{
    .MainDash{
        align-items: center;
    }
}