
.map-container-container{
    margin: 40px auto ;  text-align: center ;  width: 85% ;  
    margin-bottom: 100px;
}
.map-error-container{
    margin: 14px ;
        text-align:  center ;
        height: 280px ; 
        width: 85% ; 
        border-radius: 40px ; 
        border: 1px solid grey ; 
        padding: 75px ;
        display: flex ; 
        flex-direction: column ; 
        gap: 20px ;
        margin: 25px auto;

      }
