.map-container {
    height: 300px ; width:  100% ;  border-radius: 20px  ;
}
.map-container-container{
    margin: 25px auto ;  text-align: center ;  width: 85% ;   border-radius: 20px 
}
.map-error-container{
    margin: 14px ;
        text-align:  center ;
        height: 280px ; 
        width: 96% ; 
        border-radius: 15px ; 
        border: 1px solid grey ; 
        padding: 75px ;
        display: flex ; 
        flex-direction: column ; 
        gap: 20px ;
      }
