
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: #FECDA6; 
  border-bottom: 3px solid #FFA500; 
  color: #FFFFFF; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  top: 0;
  z-index: 999;
}

.navbar-logo {
  margin-right: 20px; 
  display: flex; 
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 0;
  z-index: 1002; 
}
 


.navbar-toggle {
  display: none;
  cursor: pointer;
  color: #FFFFFF; 
  font-size: 2em; 
  padding: 10px;
  z-index: 1000; 
}

.navbar-links {
  list-style: none;
  display: flex;
  align-items: center; 
  flex-grow: 1; 
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-item, .toggle-btn {
  display: inline-block;
  background: #FFFFFF; 
  padding: 10px 20px;
  border-radius: 20px;
  color: #FF6347; 
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s, color 0.3s;
}

.navbar-item:hover  {
  background: #FF6347; 
  color: #FFFFFF; 
}
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}


.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
  
}

.sign svg path {
  
  fill: white;
}

.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 15px;
  font-weight: 600;
  transition-duration: .3s;
}

.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}

.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}

.Btn:active {
  transform: translate(2px ,2px);
}
@media (max-width: 768px) {
  .navbar-links {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background: #FECDA6; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    padding: 0; 
    margin: 0; 
    list-style: none;
    display: none;
  }
  
  .navbar-links li,
  .navbar-links .switch-button { 
    background: none;
    padding: 10px 20px; 
    margin: 0; 
    border-radius: 0;
  }
  .navbar-links.show {
    display: flex; 
  }
  .button-box {
    justify-content: center;
    background: none;
    margin: 10px 0; 
    padding: 0; 
  }

  #btn {
    display: none; 
  }

  .toggle-btn {
    background: none;
    color: #FFFFFF; 
    font-weight: bold;
  }

  .toggle-btn.active {
    
    color: #FF6347; 
  
    display: inline-block;
  }
  .navbar-toggle {
    display: block;
    z-index: 1002; 
  }

}
