/* Navbar Container */
.navbar {
  /* display: flex;
  justify-content: flex-start; Align items to the left */
  /* align-items: center; */
  /* padding: 10px; */
  background: #f3efee;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  /* z-index: 999; */
  width: 100%;
  
}




/* Navbar Logo */
.navbar-logo {
  /* margin-right: 10px; */
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 30px;
  
}

/* Navbar Toggle Button (for small screens) */
.navbar-toggle {
  display: none;
  cursor: pointer;
  color: #333;
  font-size: 1.8em;
  padding: 5px;
}

/* Navbar Links Container */
.navbar-links {
  list-style: none;
  display: flex;
  /* align-items: center; */
  flex-grow: 5;
  margin-left: 50%;
}

/* Navbar Links Item */
.navbar-links li {
  margin: 0 15px;
}

/* Common Style for Navbar Items and Toggle Button */
.navbar-item{
 
    display: flex;
    justify-content: flex-end;
  
  display: inline-block;
  background: #FF8C00; /* Orange */
  padding: 10px 30px;
  border-radius: 50px; /* Rounded shape */
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
}

/* Hover Style for Navbar Items and Toggle Button */
.navbar-item:hover,
.toggle-btn:hover {
  background: #E07B00; /* Darker Orange */
  color: #FFF;
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Button Style */
.Btn {
  transition: all 0.3s ease;
}

/* Button Hover Style */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  padding-right: 10px;
  transition-duration: .3s;
}

/* Button Active Style */
.Btn:active {
  transform: translate(2px, 2px);
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
  /* Adjusted Navbar Links for Small Screens */
  .navbar-links {
    flex-direction: column;
    position: absolute;
    top: 90px;
    left: 0;
    background: #f3efee;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;
  }

  /* Adjusted Style for Navbar Links Items and Toggle Button on Small Screens */
  .navbar-links li,
  .navbar-links .switch-button {
    background: none;
    padding: 15px 20px;
    margin: 0;
    border-radius: 0;
  }

  /* Display Navbar Links on Small Screens */
  .navbar-links.show {
    display: flex;
  }

  /* Adjusted Style for Toggle Button on Small Screens */
  .toggle-btn {
    background: none;
    color: #333;
    font-weight: bold;
  }

  /* Active Style for Toggle Button on Small Screens */
  .toggle-btn.active {
    color: #FF8C00; /* Orange */
    display: inline-block;
  }

  /* Display Toggle Button on Small Screens */
  .navbar-toggle {
    display: block;
    z-index: 1002;
  }
}

/* Dropdown Styles */
.navbar-item-dropdown:hover .navbar-item-dropdown-content {
  display: block;
}

.navbar-item-dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFF;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 25px;
  z-index: 1;
}

.navbar-item-dropdown-content a {
  color: #FF8C00; /* Orange */
  padding: 15px 20px;
  text-decoration: none;
  display: block;
  font-weight: bold;
}

.navbar-item-dropdown-content a:hover {
  background: #E07B00; /* Darker Orange */
  color: #FFF;
  border-radius: 50px;
}

/* Status Button Styles */
.status-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  display: none;
}

.status-button:hover {
  background-color: #D32F2F;
  color: white;
}

/* User Info Styles */
.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.username {
  color: #333;
  font-size: 18px;
}

