/* Navbar Container */
.navbar {
  
  background: #f3efee;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000; 
  
}
.navbar-logo {
  
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 30px;
  
}

/* Navbar Links Container */
.navbar-links {
  list-style: none;
  display: flex;
  flex-grow: 5;
  margin-left: 53%;
}

/* Navbar Links Item */
.navbar-links li {
  margin: 0 15px;
}

/* Common Style for Navbar Items */
.navbar-item{
 
    display: flex;
    justify-content: flex-end;
  
  display: inline-block;
  background: #FF8C00; 
  padding: 7px 25px;
  border-radius: 50px; 
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
}

/* Hover Style for Navbar Items */
.navbar-item:hover {
  background: #E07B00; 
  color: #FFF;
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}






/* User Info Styles */
.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.username {
  color: #333;
  font-size: 18px;
}
