
.container{
  width:100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: left;
  justify-content: space-between;
  gap: 1rem;
  background-color: #4db897;
  border-radius: 10px;

}
.navbar{
  background-color: #feb257;
  padding:10px ;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* Custom CSS */
.nav-item {
    margin-right: 15px; /* Adjust the margin to your desired spacing */
    background-color: white;
    border-radius: 10px;
  }

.btn{
  border-radius: 10px;
}