.img-restaurant-div
{ width: 210; margin-right: 15px; padding: 10px }

.inner-info-container{
    background-color:  #FBFAF5 ;
    height: 100%;
    width: 100%;
    display: flex ;
    flex-direction: column;
    border-radius: 7px;
    padding: 10px;
    gap: 10px;
}
.place-order-btn{
    position: relative ;
height: 40px;
width: 135px;
right: -100px;
top: -7px}