.switch-button {
	display: flex;
	align-items: center;
	justify-content: center; 
  }
  
  .button-box {
	width: auto; 
	background: #FFFFFF; 
	border-radius: 20px; 
	display: inline-flex; 
	position: relative;
	margin: 0 15px; 
  }
  
  .toggle-btn {
	background: transparent;
	border: 0;
	outline: none;
	color: #FFFFFF;
	padding: 10px 20px; 
	color: #FF6347;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	transition: background 0.3s, color 0.3s;
	position: relative; 
	z-index: 2; 
  }
  
  .toggle-btn.active {
	color: #FFFFFF;
	background: #FF6347; 
    
  }
  
  #btn {
	position: absolute;
	left: 0;
	width: 50%; 
	height: 100%;
	background: #FF6347; 
	border-radius: 20px;
	transition: 0.5s;
	z-index: 1; 
  }
  .button-box #btn {
    display: block; 
     
  }
  