
.button-box {
	width: 164px;
	margin: 35px auto;
	position: relative;
	border-radius: 10px;
	background: white;
    display: flex; /* Add this to create a flex container */
    justify-content: space-around;
}

.toggle-btn {
	padding: 10px 5px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	text-align: center;
    display: inline-block;
		margin-right: 5px;
}

#btn {
	
	position: absolute;
	margin: 2px auto;
	margin-left: 3px;
	width: 77px;
	height: 91%;
	background: #e67e22;
	border-radius: 10px;
	transition: .5s;
}