
.App{
   
    width: "50%";
    height: "1000px";
    margin: "40px auto 0";
    display: "flex";
    flex-Direction: "column";
    background-Color: "#FBFAF5";
    border-Radius: "10px";
    font-Family: "Comic Sans MS";
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
  
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
